.daily {
  position: relative;
  padding: 50px 0;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: black;
  }

  &__date-input {
    width: 111px;
  }

  &__table-wrapper {
    max-height: 432px;
    overflow: auto;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    max-height: 600px;
    overflow: hidden;

    th,
    td {
      padding: 12px 16px;
      text-align: center;
    }

    thead {
      background-color: #5300ff;
      color: #fff;
    }
  }

  tbody tr:nth-child(even) {
    background-color: #c2c2c2;
  }

  &__date {
    display: block;
    margin-bottom: 15px;
  }

  &__summary {
    margin-top: 30px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;

    h3 {
      margin-bottom: 10px;
    }

    p {
      margin: 5px 0;
      font-weight: 500;
    }
  }

   &__pdf-button {
    margin-right: 20px;
    background-color: #5300ff;
    padding: 5px 10px;
    border-radius: 10px;
    color: #ccc;
    font-size: 20px;
    margin-top: 10px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.4
    }
  }
}