@use '../../assets/styles/variables' as *;

.reports {
  &__panel {
    .daily,
    .monthly,
    .spectacle,
    .period {
      padding: 0 0 $space-6;

      &::after {
        display: none;
      }
    }

    .daily__title,
    .monthly__title,
    .spectacle__title,
    .period__title {
      display: none;
    }
  }
}
