.spectacle {
  padding: 50px 0;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
  }

  &__date {
    margin-bottom: 15px;
    width: 111px;
  }

  &__summary {
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;

    h3 {
      margin-bottom: 10px;
    }

    p {
      margin: 5px 0;
      font-weight: 500;
    }
  }

  &__pdf-button {
    margin-right: 20px;
    background-color: #5300ff;
    padding: 5px 10px;
    border-radius: 10px;
    color: #ccc;
    font-size: 20px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.4
    }
  }
}